{
  "extends": [
    "@remix-run/eslint-config",
    "@remix-run/eslint-config/node",
    "plugin:@rushstack/eslint-plugin-packlets/recommended"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/no-redeclare": "off"
  }
}
