---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="SwaggerUI" />
    <title>SwaggerUI</title>
    <link
      href="https://cdn.jsdelivr.net/npm/swagger-ui-dist@4.15.5/swagger-ui.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="swagger-ui"></div>
    <script
      is:inline
      src="https://cdn.jsdelivr.net/npm/swagger-ui-dist@4.15.5/swagger-ui-bundle.js"
    ></script>
    <script is:inline>
      window.onload = () => {
        // @ts-ignore
        window.ui = SwaggerUIBundle({
          url: '/api/doc',
          dom_id: '#swagger-ui',
        })
      }
    </script>
  </body>
</html>
