---
import BaseLayout from '$layouts/base.astro'
import { createServerSideClient } from '@contentsgarten/server-utils'
import { getInstance } from '../api/contentsgarten/[action]'
import { WikiPage } from '$components/WikiPage'

const { pageRef } = Astro.params
const client = createServerSideClient(getInstance(), '/api/contentsgarten')
const page = await client.view.query({ pageRef: String(pageRef) })
---

<BaseLayout title={page.title}>
  <div class="cg-large-container pt-4">
    <article class="prose md:prose-lg max-w-[48rem] mx-auto">
      <WikiPage client:load page={page} />
    </article>
  </div>
</BaseLayout>
