---
import BaseLayout from '$layouts/base.astro'
import { createServerSideClient } from '@contentsgarten/server-utils'
import { config, getInstance } from '../api/contentsgarten/[action]'
import { WikiPage } from '$components/WikiPage'

const { pageRef } = Astro.params
const client = createServerSideClient(
  config.testing.BACKEND === 'production'
    ? 'https://wiki.creatorsgarten.org'
    : getInstance(),
  '/api/contentsgarten',
)
const page = await client.view.query({
  pageRef: String(pageRef),
  withFile: false,
  render: true,
})
if (page.status === 301 && page.targetPageRef && Astro.url.searchParams.get('redirect') !== 'no') {
  Astro.response.status = 301
  Astro.response.headers.set('Location', `/wiki/${page.targetPageRef}`)
} else if (page.status === 404) {
  Astro.response.status = 404
} else if (page.status === 500) {
  Astro.response.status = 500
}
---

<BaseLayout title={page.title}>
  <div class="cg-large-container pt-4">
    <article class="prose md:prose-lg max-w-[48rem] mx-auto">
      <WikiPage client:load page={page} />
    </article>
  </div>
</BaseLayout>
